{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_exammanager/calendar_panel

    Panel hosting the FullCalendar container. The calendar itself is
    initialised by the local_exammanager/exam_calendar AMD module.

    Classes required for JS: none.
    Data attributes required for JS: none.

    Context variables required for this template:
    * elementid string Id attribute for the calendar container element.

    Example context (json):
    {"elementid": "exammanager-fullcalendar"}
}}
<div class="local-exammanager-panel local-exammanager-calendar-shell">
    <div id="{{elementid}}" style="min-height:700px;"></div>
</div>
